*{
    margin: 0;
    padding: 0;
}
nav{
   
    display:flex;
    justify-content: space-between;
    background-color:rgba(247, 247, 247, 0.825);
    height: 110px;
    padding:20px 80px;
    position:sticky ;
    left: 0;
    top: 0;
    z-index: 9;
    
}
nav img{
    width: 12vh;
}
nav ul{
    display: flex ;
    gap: 40px;
    padding-top: 10px;
    align-items: baseline;
}
nav button{
    text-decoration: none;
    border: none !important;
    background-color:transparent !important;
    color: #707070 !important;
}
nav button:hover{
    color: #0986FA !important;
}
.fa-caret-down{
   color:#707070  !important;  
}
.fa-caret-down:hover{
    color: #0986FA !important;
}
nav ul a{
    text-decoration: none;
    color:#707070;
    font-family: Segoe UI;
}
nav ul a:hover{
    color:#0986FA;
    text-decoration: none;
}
.dropdown-menu a:hover{
    color:#0986FA;
}
.carousel-inner img{
    width:70vh;
    height:480px;
}
.nouveaute{
    display:flex;
    padding:30px 80px;
    font-family: 'Ireene';
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size:25px;
    font-weight:800;
    text-align: center;
}
.nouv{
    background-color: #0986FA;
    color: white;
    width:200px;
 
}
.promo{
    width:200px;
    background-color: white;
    color:#707070;
}
.promo:hover{
    background-color: #0986FA;
    color: white;
}
.nouv-pics{
    display :flex;
    justify-content:space-around;
    padding-left: 5px;
    padding-top: 20px;
}
.nouv-pics img{
    width: 50vh;
}
.lun1{
    position:relative;
    display: flex;
    flex-direction: column;   
}
.DT{
    display: flex;
    gap:8px;
    align-items: flex-end;
    justify-content:center;
    padding-top: 30px;
}
.DT h1{
    color:#0986FA;
    font-size: 26px;
    font-family: 'BethanLight';    
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
.DT h2{
    color:#707070;
    font-size:18px;
    text-decoration: line-through;
}
.DT h3{
    background-color:#0986FA;
    color:white;
    font-size: 24px;
    width:60px;
    text-align: center;
}
.nouveau{
    color: white;
    background-color:#0986FA;
    font-weight: 700;
    width:30%;
    text-align: center;
    position:absolute;
    transform: rotate(-35deg);
    top:28px;  
}
.services{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:50px;
    gap:40px;
}
.services h1{
    background-color: #0986FA;
    color: white;
    width:300px;
    height:40px;
    text-align: center;
    font-family: Open Sans;
    font-size:30px;
    font-weight:800;
}
.ser-photos{
    display:flex;
    gap:50px;
    justify-content:space-around;
    padding-left: 5px;
    padding-top: 10px;
}
.vente{
    background-image: url(pics/vente.jpg);
    width: 401px;
    height:203px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
.lentille{
    background-image: url(pics/lentille.jpg);
    width: 401px;
    height:203px;
    background-size:cover cover;
    background-position: center; 
    display: flex;
    align-items: flex-end;
    justify-content: center;
   
    
}
.repara{
    background-image: url(pics/pic.jpg);
    width: 401px;
    height:203px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
h5{
    background-color: #0C0B10;
    color: white;
   text-align: center;
   font-family:cursive;
   width:401px;
   opacity: 0.6;
   margin: 0 !important; 
   font-family: Open Sans;  
   font-weight: 600; 
}
.client{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:50px;
    gap:40px;
}
.client h1{
    background-color: #0986FA;
    color: white;
    width:300px;
    height:40px;
    text-align: center;
    font-family: Open Sans;
    font-size:30px;
    font-weight:800;
}
.client-box{
    display: flex;
    gap:50px;
    justify-content:space-around;
    padding-left: 5px;
    padding-top: 10px;
}
.box{
    display: flex;
    flex-direction: column;
    width:400px;
    height:200px;
    border:1px solid black;
}
.box img{
    width:70px;
    height:70px;
    padding-top: 5px;
}
.box h3{
    font-size: 16px;
    text-align: center;
    padding-top:30px;
    color:#818181;
}
.both{
    display: flex;
    align-items:center;
    justify-content:center;
    gap:70px;
}
.propos{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:50px;
    gap:40px;
}
.propos h1{
    background-color: #0986FA;
    color: white;
    width:300px;
    height:40px;
    text-align: center;
    font-family: Open Sans;
    font-size:30px;
    font-weight:800;

}
.apropos{
    width:100%;
    height:637px;
    background-color: #84c4ff80;
    display: flex;
    gap : 20px;
    justify-content: center;
    align-items: center;
}

.apropos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.apropos div h2{
    font-size: 25px;
    font-weight:700;
}
.apropos div h3{
    font-size: 20px;
    font-weight:400;
}
.icons{
    display: flex;
    flex-direction: row !important; 
    gap:5px;
}
.icons img{
    width:2vw;
}
footer{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    gap:5px;
}
footer img{
    width:3vw;
}
footer h3{
    font-size: 12px;
    font-weight: 400;
}

@media screen and (max-width: 600px) {

    nav{
        padding:10px 10px;
        justify-content:space-around;
        height: 70px;
    }
    nav ul{
       gap:9px;
       font-size:12px;
    }
    nav img{
        width: 12vw;
    }
    .dropdown-menu a{
        font-size:12px;

    }
    .carousel-inner img{
        height:260px;
        width:100% !important;
    }

    .nouveaute{ 
        font-size:15px; 
    }
    .nouv-pics{
        flex-direction:column;
        gap: 20px;
        align-items:center;
    }
    .nouv-pics img{
        width: 40vh;
    }
    .DT h1{
        font-size: 20px;
    }
    .DT h2{
        font-size: 12px;
    }
    .DT h3{
        font-size: 16px;
    }
    
    .services h1{
        width:200px;
        height:25px;
        font-size:20px;
    }
    .ser-photos{ 
        width:100%;
        flex-direction:column;
        gap:30px; 
        align-items:center
    }
    .vente{
        width:85%;
        height:200px;  
    }
    .lentille{
        width:85%;
        height:200px;
    }
    .repara{
        width:85%;
        height:200px;
    }
    h5{
        font-size: 17px;
        width:100%;
    }
    .client-box{
        flex-direction: column;
        gap:30px;  
    }
    .client h1{
        width:200px;
        height:25px;
        font-size:20px;
    }
    .box{
        width:100%;
        height:170px;   
    }
    .box img{
        width:60px;
        height:60px;    
    }
    .box h3{
        font-size: 14px;  
    }
    .propos{
        
        padding-top:20px ;
    }
    .propos h1{
        width:200px;
        height:25px;
        font-size:20px;
    }
    .apropos{
        width:100%;
        height:527px;
        justify-content:flex-start;
        align-items:center;
        padding-top:50px;
        flex-direction:column-reverse;
       
    }
    .apropos div h2{
        font-size: 15px;
        
    }
    .apropos div h3{
        font-size: 10px;
        
    }
    .apropos iframe{
        width:100% !important;
        height:300px !important;
    }
    .icons img{
        width:4vw;
    }
    footer img{
        width:8vw;
    }
    footer h3{
        font-size: 12px;
        font-weight: 400;
    }
}